.game {
  text-align: center;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
  animation: fadeIn 0.7s ease-out;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin: 0px;
  margin-bottom: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.subtitle {
  font-size: 1.8rem;
  margin-bottom: 10px;
  animation: fadeIn 1s ease-in;
}

.description {
  font-size: 1rem;
  margin-bottom: 20px;
  animation: fadeIn 1.2s ease-in;
  opacity: 0.8;
}
.countdown {
  font-size: 3rem;
  font-weight: bold;
  color: #ffcc00;
  margin: 20px 0;
}

.startButton,
.nextGameButton {
  position: relative;
  overflow: hidden;
  background-color: #ffd700;
  color: #fff;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 25px;
  font-size: 1.1rem;
  transition: transform 0.3s, box-shadow 0.3s;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.startButton:hover,
.nextGameButton:hover {
  transform: scale(1.1);
}

.startButton::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: skewX(-45deg);
  transition: all 0.5s ease;
}

.startButton:hover::after {
  left: 200%;
}

.resultsList {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.resultsItem {
  margin-bottom: 8px;
  font-size: 1rem;
  color: #fff;
}

.playerName {
  font-weight: bold;
}

.playerScore {
  margin: 0 5px;
}

.winnerTitle {
  margin-top: 20px;
  font-size: 1.4rem;
  font-weight: bold;
  color: #ff9900;
  text-transform: uppercase;
}

.endGameButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.restartButton,
.homeButton,
.nextGameButton {
  position: relative;
  overflow: hidden;
  background-color: #ffa500;
  color: #fff;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 25px;
  font-size: 1.1rem;
  transition: transform 0.3s, box-shadow 0.3s;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin: 10px;
}

.restartButton,
.nextGameButton {
  background-color: #32cd32;
}

.homeButton {
  background-color: #ff4500;
}

.restartButton::after,
.homeButton::after,
.nextGameButton::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: skewX(-45deg);
  transition: all 0.5s ease;
}

.restartButton:hover::after,
.homeButton:hover::after,
.nextGameButton:hover::after {
  left: 200%;
}

.restartButton:hover,
.homeButton:hover,
.nextGameButton:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 15px rgba(255, 255, 255, 0.4);
}