.difficultyContainer {
  text-align: center;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  animation: fadeIn 1s ease-out;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.icon {
  color: #fff;
  font-size: 2.5rem;
}

.title {
  font-size: 2.5rem;
  color: #fff;
  margin: 0;
  margin-bottom: 10px;
}

.subtitleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.subtitle {
  font-size: 1.2rem;
  margin: 0;
  opacity: 0.8;
  display: inline-block;
  text-align: center;
}

.iconLeft {
  color: #fff;
  font-size: 0.75rem;
  opacity: 0.8;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
