.players-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.players-inputs input {
  flex: 1;
  max-width: 32%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ffa500;
  background: #ffa500;
  font-size: 1rem;
  font-weight: 600;
  outline: none;
  transition: all 0.3s ease-in-out;
  color: #fff;
}

.players-inputs input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.players-inputs input:focus {
  transform: scale(1.05);
  box-shadow: 0px 6px 15px rgba(255, 255, 255, 0.5);
}
