.endGame {
  animation: fadeIn 0.7s ease-out;
  text-align: center;
}

.endGame h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.endGameButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.restartButton,
.homeButton {
  position: relative;
  overflow: hidden;
  background-color: #ffd700;
  color: #fff;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 25px;
  font-size: 1.1rem;
  transition: transform 0.3s, box-shadow 0.3s;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin: 10px;
}

.restartButton {
  background-color: #32cd32;
}

.homeButton {
  background-color: #ff4500;
}

.restartButton::after,
.homeButton::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: skewX(-45deg);
  transition: all 0.5s ease;
}

.restartButton:hover::after,
.homeButton:hover::after {
  left: 200%;
}

.restartButton:hover,
.homeButton:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 15px rgba(255, 255, 255, 0.4);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
